.certificates {
  background: rgba(242, 156, 179, 0.15);
  padding: 80px 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.certificates__quote {
  max-width: 700px;
  font-size: 2rem;
  font-weight: 700;
  color: #e98697;
  font-weight: 600;
  text-align: left;
}

@media (max-width: 768px) {
  .certificates__quote {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .carousel__image {
    max-width: 200px;
  }
  .certificates__quote {
    font-size: 16px;
    padding: 0 10px;
  }
}

.certificates__bottom {
  display: flex;
  align-items: center;
  gap: 30px;
}

.certificates__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #9b5d92;
  margin-bottom: 60px;
}

.certificates__container {
  max-width: 1200px;
  margin: 0 auto;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__track-container {
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.carousel__track {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease-in-out;
}

.carousel__slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__image {
  width: 80%;
  height: auto;
  object-fit: contain;
  border-radius: 16px;
}

.carousel__btn_certificates {
  background: none;
  border: none;
  font-size: 48px;
  color: #e98697;
  cursor: pointer;
  transition: color 0.3s;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__btn:hover {
  color: #c95f71;
}

.carousel__btn--prev_certificates {
  left: 0;
}

.carousel__btn--next_certificates {
  right: 0;
}

/* Для мобильных */
@media (max-width: 768px) {
  .carousel__track-container {
    max-width: 320px;
  }

  .carousel__btn_certificates {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .certificates__title {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .certificates__title {
    font-size: 24px;
  }
  .carousel__image {
    max-width: 200px;
  }
}
